@model Murphy.Entity.BaseItemDetail
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑字典明细</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/ztree/css/jquery.ztree.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/jquery/jquery.form.js"></script>
    <script src="~/media/jquery/jquery.cookie.js"></script>
    <script src="~/media/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/media/jquery/jquery.placeholder.min.js"></script>
    <script src="~/media/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/media/noty/jquery.noty.js"></script>
    <script src="~/media/noty/layouts/center.js"></script>
    <script src="~/media/noty/themes/default.js"></script>
    <script src="~/media/easytabs/jquery.hashchange.min.js"></script>
    <script src="~/media/easytabs/jquery.easytabs.min.js"></script>
    <script src="~/media/artdialog/artDialog.js?skin=blue"></script>
    <script src="~/media/artdialog/plugins/iframeTools.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.exhide-3.5.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <ul class="breadcrumb">
        <li><a href="javascript:void(0)">日常维护</a> <span class="divider">/</span></li>
        <li><a href="/SysManage/BaseItem/ItemDetailList?itemId=@Model.ItemId">数据字典</a> <span class="divider">/</span></li>
        <li>编辑字典明细</li>
    </ul>
    <form action="#" method="post" class="form-horizontal" name="updateItemDetailForm" id="updateItemDetailForm">
        <input type="hidden" value="@Model.Id" id="itemDetailId" name="itemDetailId" />
        <input type="hidden" value="@Model.ItemId" id="ItemId" name="ItemId" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
            <tbody>
                <tr>
                    <td width="140">编码</td>
                    <td><input type="text" class="input-xlarge" onchange=checkinput('SelectValue','SelectValueSpan') id="SelectValue" name="SelectValue" value="@Model.SelectValue"><span id="SelectValueSpan"></span></td>
                </tr>
                <tr>
                    <td>文本值</td>
                    <td><input type="text" class="input-xlarge" onchange=checkinput('SelectText','SelectTextSpan') id="SelectText" name="SelectText" value="@Model.SelectText"><span id="SelectTextSpan"></span></td>
                </tr>
                <tr>
                    <td>备注说明</td>
                    <td><input type="text" class="input-xlarge" id="Description" name="Description" value="@Model.Description"></td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>
                        <select style="width:284px" id="Enabled" name="Enabled" onchange=checkselect('Enabled','EnabledSpan') class="required">
                            <option value=""></option>
                            <option value="1">启用</option>
                            <option value="0">禁用</option>
                        </select>
                        <span id="EnabledSpan"></span>
                    </td>
                </tr>
                <tr>
                    <td>是否默认</td>
                    <td>
                        <select style="width:284px" id="IsDefault" name="IsDefault" class="required">
                            <option value=""></option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>排序</td>
                    <td><input type="text" class="input-xlarge" id="SortCode" name="SortCode" value="@Model.SortCode"></td>
                </tr>

            </tbody>
        </table>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="submit_btn" id="submit_btn" data-loading-text="正在保存..." data-complete-text="保存">保存</button>
        
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#IsDefault option[value='@Model.IsDefault']").attr("selected", "selected");
            $("#Enabled option[value='@Model.Enabled']").attr("selected", "selected");
        })
    </script>
    <script src="~/media/js/item.js"></script>
</body>
</html>
