@model IEnumerable<Murphy.Entity.BaseUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>选择用户</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/themes/blue/table.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/jquery/jquery.form.js"></script>
    <script src="~/media/jquery/jquery.cookie.js"></script>
    <script src="~/media/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/media/jquery/jquery.placeholder.min.js"></script>
    <script src="~/media/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <form action="/Controls/Public/SelectHrmResource" method="get" name="SearchForm" id="SearchForm" class="form-inline">
        <div class="input-prepend input-append" style="padding-top:10px">
            <input class="input-large" type="text" id="userName" name="userName" placeholder="请输入用户名称" value="@ViewBag.UserName" />
            <button class="btn btn-danger" type="submit"><i class="icon-search icon-white"></i> 搜索</button>
            <button class="btn btn-warning" type="button" id="clean"><i class="icon-share-alt icon-white"></i> 清除</button>
        </div>
    </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="20"><input name="checkall" type="checkbox" id="checkall" value="1" /></th>
                    <th style="width: 18%; ">登陆名</th>
                    <th style="width: 15%; ">姓名</th>
                    <th>岗位</th>
                    <th style="width: 22%; ">部门</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><input name='_id[]' type='checkbox' id="event_@user.Id" value='@user.Id' realname="@user.RealName" /></td>
                        <td>@user.UserName</td>
                        <td>@user.RealName</td>
                        <td>@user.JobTitleName</td>
                        <td>@user.DepartmentName</td>
                    </tr>
                }

            </tbody>
        </table>
        @if (Model.Count() == 0)
        {
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                对不起，没有找到相匹配的记录
            </div>
        }
        @Html.Raw(ViewBag.Pager)
</body>
</html>
