@model IEnumerable<Rbac.Entity.BaseRole>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>选择角色</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/ztree/css/jquery.ztree.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/jquery/jquery.form.js"></script>
    <script src="~/media/jquery/jquery.cookie.js"></script>
    <script src="~/media/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/media/jquery/jquery.placeholder.min.js"></script>
    <script src="~/media/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/media/noty/jquery.noty.js"></script>
    <script src="~/media/noty/layouts/center.js"></script>
    <script src="~/media/noty/themes/default.js"></script>
    <script src="~/media/easytabs/jquery.hashchange.min.js"></script>
    <script src="~/media/easytabs/jquery.easytabs.min.js"></script>
    <script src="~/media/artdialog/artDialog.js?skin=blue"></script>
    <script src="~/media/artdialog/plugins/iframeTools.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.exhide-3.5.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <input type="hidden" id="userId" value="@ViewBag.UserId" name="userId" />
    <div class="alert">
        <span>当前用户：@ViewBag.RealName </span>
    </div>
    @foreach (var role in Model)
    {
        if (role.isChecked)
        {
            <div style="float:left">
                <label class="checkbox">
                    <input type="checkbox" style="width:30px" checked="checked" id="@role.Id" value="@role.Id">@role.Name
                </label>
            </div>
        }
        else
        {
            <div style="float:left">
                <label class="checkbox">
                    <input type="checkbox" style="width:30px" id="@role.Id" value="@role.Id">@role.Name
                </label>
            </div>
        }

    }
</body>
</html>
