@model IEnumerable<Rbac.Entity.BaseUser>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户列表</title>
    <link href="~/media/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/media/themes/blue/default.css" rel="stylesheet" />
    <link href="~/media/themes/blue/table.css" rel="stylesheet" />
    <link href="~/media/ztree/css/jquery.ztree.css" rel="stylesheet" />
    <script src="~/media/jquery/jquery.min.js"></script>
    <script src="~/media/jquery/jquery.form.js"></script>
    <script src="~/media/jquery/jquery.cookie.js"></script>
    <script src="~/media/jquery/jquery.scrollUp.min.js"></script>
    <script src="~/media/jquery/jquery.placeholder.min.js"></script>
    <script src="~/media/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/media/noty/jquery.noty.js"></script>
    <script src="~/media/noty/layouts/center.js"></script>
    <script src="~/media/noty/themes/default.js"></script>
    <script src="~/media/easytabs/jquery.hashchange.min.js"></script>
    <script src="~/media/easytabs/jquery.easytabs.min.js"></script>
    <script src="~/media/artdialog/artDialog.js?skin=blue"></script>
    <script src="~/media/artdialog/plugins/iframeTools.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/media/ztree/js/jquery.ztree.exhide-3.5.min.js"></script>
    <script src="~/media/js/common.js"></script>
</head>
<body style="margin:0px;padding:0px">
    <form action="/SysManage/BaseUser/UserList" method="get" name="SearchForm" id="SearchForm" class="form-inline">
       <input class="input-medium" type="text" id="departmentName" name="departmentName" value="@ViewBag.DepartmentName" placeholder="请输入部门名" />
        <input class="input-medium" type="text" id="roleName" name="roleName" value="@ViewBag.RoleName" placeholder="请输入角色名" />
        <div class="input-prepend input-append">
            <input class="input-medium" type="text" id="userName" name="userName" value="@ViewBag.UserName" placeholder="请输入用户名" />
            <button class="btn btn-danger" type="submit"><i class="icon-search icon-white"></i> 搜索</button>
            <button class="btn btn-warning" type="button" id="clean"><i class="icon-share-alt icon-white"></i> 清除</button>
        </div>
    </form>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn" murphybuttonname="BaseUser.Create" href="javascript:createUser()">创建用户</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th murphyfieldname="Enabled" style="width: 6%; ">状态</th>
                <th murphyfieldname="Code" style="width: 8%; ">编号</th>
                <th murphyfieldname="UserName" style="width: 8%; ">登陆名</th>
                <th murphyfieldname="DepartmentName" style="width: 15%; ">部门</th>
                <th murphyfieldname="ManagerName" style="width: 6%; ">上级</th>
                <th murphyfieldname="JobTitleName">岗位</th>
                <th murphyfieldname="RealName" style="width: 8%; ">姓名</th>
                <th murphyfieldname="MobilePhone" style="width: 15%; ">移动电话</th>
                @*<th style="width: 8%; ">电子邮件</th>*@
                @*<th style="width: 8%; ">安全级别</th>*@
                <th style="width: 8%; ">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td murphyfieldname="Enabled">
                        @if (user.Enabled == 1)
                        {
                            <img src="~/media/images/content_status_1.png" />
                        }
                        else
                        {
                            <img src="~/media/images/content_status_0.png" />
                        }
                    </td>
                    <td murphyfieldname="Code">@user.Code</td>
                    <td murphyfieldname="UserName">@user.UserName</td>
                    <td murphyfieldname="DepartmentName">@user.DepartmentName</td>
                    <td murphyfieldname="ManagerName">@user.ManagerName</td>
                    <td murphyfieldname="JobTitleName">@user.JobTitleName</td>
                    <td murphyfieldname="RealName">@user.RealName</td>
                    <td murphyfieldname="MobilePhone">@user.MobilePhone</td>
                   @*<td>@user.Email</td>*@
                    @*<td>@user.SecLevel</td>*@
                    <td>
                        <div class="dropdown" murphyfieldname="Id">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"> 操作 <span class="caret"></span> </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a murphybuttonname="BaseUser.Update" href="javascript:void(0)" onclick="javascript: updateUser('@user.Id')">编辑</a></li>
                                <li><a murphybuttonname="BaseUser.Delete" href="javascript:void(0)" onclick="javascript:void(0)">删除</a></li>
                                @if (user.Enabled == 1)
                                {
                                    <li class="disabled"><a murphybuttonname="BaseUser.Activate" href="javascript:void(0);">激活</a></li>
                                    <li><a murphybuttonname="BaseUser.Freeze" href="javascript:void(0);" onclick="javascript:changeUserStatus(0, '@user.Id')">冻结</a></li>
                                }
                                else
                                {
                                    <li><a murphybuttonname="BaseUser.Activate" href="javascript:void(0);" onclick="javascript:changeUserStatus(1, '@user.Id')">激活</a></li>
                                    <li class="disabled"><a murphybuttonname="BaseUser.Freeze" href="javascript:void(0);">冻结</a></li>
                                }
                                <li class="divider">/</li>
                                <li><a murphybuttonname="BaseUser.UserPassword" href="javascript:void(0)" onclick="javascript: confirmUserPassword('@user.Id')">重置密码</a></li>
                                <li><a murphybuttonname="BaseUser.AllotRole" href="javascript:void(0)" onclick="javascript: AllotRole('@user.Id','@user.RealName')">分配角色</a></li>
                                <li><a murphybuttonname="BaseUser.Permission" href="javascript:void(0)" onclick="javascript:userPermission('@user.Id')">用户授权</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @if (Model.Count() == 0)
    {
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            对不起，没有找到相匹配的记录
        </div>
    }
    @Html.Raw(ViewBag.Pager)
    <script type="text/javascript">
        $(document).ready(function () {
            parent.$("#cur_number").text(@ViewBag.TotalItems);
        })
    </script>
    <script src="~/media/js/user.js"></script>
</body>
</html>
