@model IEnumerable<Rbac.Entity.BasePermissionItem>
@{
    ViewBag.Title = "操作权限项";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="/SysManage/BaseSysManage/index">系统设置</a> <span class="divider">/</span></li>
    <li><a href="javascript:void(0)">基本信息</a> <span class="divider">/</span></li>
    <li class="active">操作权限项（记录数: <span id="cur_number">@ViewBag.TotalItems</span>）</li>
</ul>
<div class="alert">
    注意事项：排序值直接影响树形展示，需要按照规则填写
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn" murphybuttonname="BasePermissionItem.Create" href="/SysManage/BasePermissionItem/Create">创建操作权限项</a>
    </div>
</div>
<table class="table table-hover tree">
    <thead>
        <tr>
            <th style="width: 15%">名称</th>
            <th style="width: 15%">编码</th>
            <th style="width: 10%">上级名称</th>
            <th>备注说明</th>
            <th style="width:6%">允许编辑</th>
            <th style="width:6%">允许删除</th>
            <th style="width:4%">有效</th>
            <th style="width:12%">排序</th>
            <th style="width:8%">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permissionItem in Model)
        {
            var result = string.Empty;
            if (permissionItem.ParentId != "0")
            {
                result = "treegrid-parent-" + permissionItem.ParentId;
            }
            <tr class="treegrid-@permissionItem.Id @result">
                <td>@permissionItem.Name</td>
                <td>@permissionItem.Code</td>
                <td>@permissionItem.ParentName</td>
                <td>@permissionItem.Description</td>
                <td>
                    @if (permissionItem.AllowUpdate == 1)
                    {
                        <img src="~/media/images/content_status_1.png" />
                    }
                    else
                    {
                        <img src="~/media/images/content_status_0.png" />
                    }
                </td>
                <td>
                    @if (permissionItem.AllowDelete == 1)
                    {
                        <img src="~/media/images/content_status_1.png" />
                    }
                    else
                    {
                        <img src="~/media/images/content_status_0.png" />
                    }
                </td>
                <td>
                    @if (permissionItem.Enabled == 1)
                    {
                        <img src="~/media/images/content_status_1.png" />
                    }
                    else
                    {
                        <img src="~/media/images/content_status_0.png" />
                    }
                </td>
                <td>@permissionItem.SortCode</td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"> 操作 <span class="caret"></span> </a>
                        <ul class="dropdown-menu pull-right">
                            @if (permissionItem.AllowUpdate == 1)
                            {
                                <li><a murphybuttonname="BasePermissionItem.Update" href="/SysManage/BasePermissionItem/Update?id=@permissionItem.Id">编辑</a></li>
                            }
                            else
                            {
                                <li class="disabled"><a murphybuttonname="BasePermissionItem.Update" href="#" class="disabled">编辑</a></li>
                            }
                            @if (permissionItem.AllowDelete == 1)
                            {
                                <li><a murphybuttonname="BasePermissionItem.Delete" href="javascript:deletePermissionItem('@permissionItem.Id','@permissionItem.Amount')">删除</a></li>
                            }
                            else
                            {
                                <li class="disabled"><a murphybuttonname="BasePermissionItem.Delete" href="#" class="disabled">删除</a></li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/media/js/permissionitem.js"></script>